.App {
  font-family: sans-serif;
}

.header-container {
  align-items: center;
  // border: 1px solid blue;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 15px 150px;
}

.messaging-container {
  // border: 1px solid purple;
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 125px 150px;
}

.messaging-input {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 100%;

  form {
    width: 100%;
  }

  .message-input-box {
    border: none;
    font-size: 24px;
    min-height: 50px;
    min-width: 100%;

    textarea:focus,
    input:focus {
      outline: none;
    }
    input {
      outline: none;
    }
    outline: none;
  }

  .message-input-submit-button {
    display: none;
  }
}

.messaging-view-container {
  align-items: center;
  // border: 1px solid orange;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  max-height: 600px;
  min-height: 500px;
  min-width: 150px;
  overflow: auto;

  @media only screen and (min-width: 640px) {
    margin: 15px 150px;
  }
}

.message-item {
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  clear: both;
  float: left;
  padding: 10px;
  margin: 5px 0 0;
  max-width: 25%;
}
